.profile {
  //background: #d7d7d7;
  padding: 20px;

  &__avatar {
    background: #f5bb35;
  }

  &__info {
    //background: #f5bb35;
  }

  &__namewrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__name {
    margin-right: 20px;
  }

  &__edit {
    //margin-left: 20px;
  }
  &__buttons {
    margin: 20px 0;
    margin-left: 5px;
  }
  &__buttons a {
    margin-left: 5px;
  }

  &__buttons a span {
    margin-right: 5px;
  }
}
