.dialogsWrapper {
    display: flex;
}

.dialogsList {
    width: 30%;
}

.messages {
    width: 70%;
    padding: 15px;
}

.messageItem {
    display: flex;
}

.messageText {
    max-width: 80%;
    margin-left: 20px;
    background: salmon;
    padding: 10px 10px;
}